<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="options">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/api/users">Register</a></li>
                <li><a href="table.ejs">Users</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <form action="/api/users/" method="post">
            <input type="text" name="username" id="username">
            <input type="email" name="email" id="email">
            <input type="password" name="password" id="password">
            <input type="submit" value="Send">
        </form>

        <div class="msg">
            <% if (msg) { %>
                <p><%= msg %></p>
            <% } %>
        </div>                
    </div>
</body>
</html>